.title{
    display: flex;
    align-items: center;
    color: purple;
}
.title .logo-icon{
    margin-right: 20px;
}
.logo-icon{
    font-size: 40px;
}
.activity-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 50px;
}

.sports-container{
    margin-top: 76px;
    margin-left: 100px;
    margin-right: 100px;
}

.all-sports{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 25px;

}

.user-container{
    background-color: #FEFEFE;
    
}

@media screen and (max-width:768px){

    .title h1{
        font-size: 26px;
    }
    .activity-container{
        grid-template-columns: 1fr;
    }
    .all-sports{
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 25px;
        margin-bottom: 60px;
    
    }
}