.title{
    display: flex;
    align-items: center;
    color: purple;
}
.title .logo-icon{
    margin-right: 20px;
}
.logo-icon{
    font-size: 40px;
}
.activity-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sports-container{
    margin-top: 76px;
    margin-left: 120px;
    margin-right: 100px;
}

.all-sports{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 25px;

}

.user-container{
    background-color: #FEFEFE;
    
}