.sport{
    position: relative;
    height: 555px;
    width: 300px;
    border: 1px solid rgb(196 181 253);
    border-radius: 8px;
}

.sport img{
    height: 250px;
    width: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}
.sport-info{
    margin: 0 14px;
}

.sport-name{
    color: #16222a;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}

.sport-desc{
    color: slategrey;
    margin-top: -12px;
}
.age-limit{
    font-weight: 500;
    font-size: 18px;
    margin-top: -5px;
}
.sport-time{
    margin-top: -7px;
    color: purple;
    font-weight: 500;
    font-size: 18px;
}

.btn-add-list{

    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(139 92 246);
    
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add-list:hover{
    background-color: rgb(109 40 217);
}
.btn-add-list p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;

}

